*{
	
	font-family: "Open Sans";
}


.nav-logo {
	position: relative;
	
	display: block;
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
}

.nav-right{
	position: sticky;
	border-color: green;
}